* {
  box-sizing: border-box;
  margin: 0;
  --TOP-BAR-HEIGHT: 80px;
  --SIDE-BAR-WIDTH: 50px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workspace {
  width: 100%;
  height: 100%;
}

.workspace canvas {
  position: absolute;
  width: calc(100% - var(--SIDE-BAR-WIDTH));
  height: calc(100% - var(--TOP-BAR-HEIGHT));
}

.mid-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.side-toolbar {
  width: var(--SIDE-BAR-WIDTH);
  height: 100%;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}

.top-toolbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: var(--TOP-BAR-HEIGHT);
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.user-style {
  align-self: center;
}

.size-picker {
  display: flex;
  align-content: center;
  justify-content: center;
}

.size-picker p {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.size-picker input {
  margin-right: 1em;
}

.size-picker input:last-child {
  margin-right: 0;
}

.top-toolbar div {
  margin: 0 2em;
  padding: 0;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--SIDE-BAR-WIDTH);
  height: calc(100% - var(--TOP-BAR-HEIGHT) - 1em);
}

.tools .tool-selector-item {
  margin-top: 0.1em;
}

button.tool-selector-item {
  width: calc(var(--SIDE-BAR-WIDTH) - 0.2em);
  height: calc(var(--SIDE-BAR-WIDTH) - 0.2em);
  background-color: #f0f0f0;
  border: 0;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
}

button img {
  width: calc(var(--SIDE-BAR-WIDTH) - 1em);
  height: calc(var(--SIDE-BAR-WIDTH) - 1em);
}

.disabled {
  display: none;
}

button.tool-selector-item:hover {
  background-color: #e0e0e0;
}

button.tool-selector-item[data-selected] {
  background-color: #525252;
}

button.tool-selector-item[data-selected] img {
  stroke: whitesmoke;
}
